{% extends 'core/base.html' %} 
{% load static %} 

{% block styles %}
<link rel="stylesheet" href="{% static 'plugin/libs/datatables.net/css/jquery.dataTables.min.css' %} ">
<link href="{% static 'plugin/libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/select2.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block scripts %}
<script src="{% static 'plugin/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugin/libs/select2/js/select2.min.js' %}"></script>
{% endblock %}

{% block content %} 
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                   <p>
                    <a href="{% url 'sms-add' %}">
                        <button type="button" class="btn btn-info rounded-pill waves-effect waves-light">
                            <span class="btn-label"><i class="mdi mdi-plus-circle"></i></span>New SMS
                        </button>
                       </a>
                    </p>

                    <table id="Table" class="table table-hover dt-responsive nowrap w-100">
                        <thead>
                          <tr>
                              <th>#</th>
                              <th>Message</th>
                              <th>SMS Date</th>
                              <th>Affected Staff <i class="fas fa-users text-primary"></i></th>
                              <th>Status</th>
                              <th>Created on</th>
                              <th>Actions</th>
                          </tr>
                        </thead>
                      </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascript %}
<script>
    $(document).ready(function() {

        $('.selectmultiple').select2()

        $('#Table').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "{% url 'sms-list-api' %}",
                "type": "GET"
            },
            "columns": [
                { 
                    "data": null, // Automatically calculate the row number
                    "orderable": false,
                    "searchable": false,
                    "render": function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                {"data":"message"},
                { "data": "sms_date" },
                {"data": "attendees", "render":function(data, type, row){
                    return `<span class="badge bg-soft-success text-success">${data}</span>`
                }},
                {"data":"status", "render":function(data, type, row){
                    const {theme, status } = data
                    return `<span class="badge bg-soft-${theme} text-${theme}">${status}</span>`
                }},
                { "data": "created_at" },
                { "data": 'id', "orderable": false, "render": function(data, type, row) {
                 const id = row.id

                 const updateURL = `{% url 'sms-update' 0 %}`.replace('0', id)
                 const deleteURL = `{% url 'sms-delete' 0 %}`.replace('0', id)
                 const detailURL = `{% url 'sms-detail' 0 %}`.replace('0', id)
                 let updateLink = `<a href="${updateURL}" title="Edit SMS"><button class="btn btn-xs btn-outline-warning rounded-pill waves-effect waves-light"><i class="fe-edit"></i></button></a>`
                 let otherLinks = `
                           <a href="${detailURL}" title="SMS detail"><button class="btn btn-xs btn-outline-info rounded-pill waves-effect waves-light"><i class=" fas fa-house-user"></i></button></a>
                           <a href="${deleteURL}" title="Delete SMS"><button class="btn btn-xs btn-outline-danger rounded-pill waves-effect waves-light"><i class="fe-trash-2"></i></button></a>`;                 
                    const status = row.status.status

                    if(status == 'Pending'){ // Edit is only allowed for sms(s) with 'Pending' status
                        return `${updateLink}${otherLinks}`
                    }else{
                        return otherLinks
                    }         
    
                }},
            ],
            "order": [[4, "desc"]]  // Default sorting by "created_at"
        });

    });
</script>
{% endblock %}
