{% extends 'core/base.html' %}
{% load static %}

{% block content %}
{% load widget_tweaks %}
<!-- {% load crispy_forms_tags %} -->

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <form action="" method="POST" id="save-form" novalidate>
                    <p class="text-muted mb-2 font-13"><strong>Leave Type :</strong><span class="ms-2">{{ leave_balance.leave_type.name }}</span></p>

                    <p class="text-muted mb-2 font-13"><strong>Entitlement :</strong> <span class="ms-2">{{leave_balance.leave_type.entitlement}}</span></p>
     
                    {% csrf_token %}

                    {{ form|crispy }}

                    <p class="mt-2">
                        <a href="{% url 'leave-balance-list' %}">
                            <button type="button" class="btn btn-danger rounded-pill waves-effect waves-light m-1"><i class="fe-x me-1"></i> Cancel</button>               
                        </a>
                        <button type="submit" class="btn btn-success rounded-pill waves-effect waves-light m-1"><i class="fe-check-circle me-1"></i> Save Record</button>
                    </p>     

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}