<!-- employee_list.html -->
{% extends 'core/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'plugin/libs/datatables.net/css/jquery.dataTables.min.css' %} ">
<link href="{% static 'plugin/libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/select2.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block scripts %}
{% comment %} <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script> {% endcomment %}
<script src="{% static 'plugin/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugin/libs/select2/js/select2.min.js' %}"></script>

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
               
            <p>
                <a href="{% url 'employee-add' %}">
                    <button type="button" class="btn btn-info rounded-pill waves-effect waves-light">
                        <span class="btn-label"><i class="mdi mdi-plus-circle"></i></span>New Staff
                    </button>
                </a>
            </p>

            <p>
               <div class="row">
                <div class="col-md-2">
                    <label for="filterGrade" class="text-info">Filter by Grade</label>
                    <select id="filterGrade" class="form-control select2" data-toggle="select2" data-width="100%">
                     <option value="">All Grades</option>
                     {% for salary_grade in salary_grade_list %}
                        <option value="{{ salary_grade.id }}"> {{salary_grade.grade}} </option>
                     {% endfor %}
                    </select>    
                </div>

                <div class="col-md-2">
                    <label for="filterDesignation" class="text-info">Filter by Designation</label>
                    <select id="filterDesignation" class="form-control select2" data-toggle="select2" data-width="100%">
                        <option value="">All Designations</option>
                        {% for designation in designation_list %}
                        <option value="{{ designation.id }}"> {{designation.title}} </option>
                        {% endfor %}
                    </select>    
                </div>

                
                <div class="col-md-2">
                        <label for="filterDepartment" class="text-info">Filter by Department</label>
                        <select id="filterDepartment" class="form-control select2" data-toggle="select2" data-width="100%">
                            <option value="">All Departments</option>
                            {% for dept in department_list %}
                            <option value="{{ dept.id }}"> {{dept.department_name}} </option>
                            {% endfor %}
                        </select>    
                </div>

                <div class="col-md-2">
                    <label for="filterID" class="text-info">Filter by National ID Type</label>
                    <select id="filterID" class="form-control select2" data-toggle="select2" data-width="100%">
                        <option value="">All ID Types</option>
                        {% for id in id_list %}
                        <option value="{{ id.id }}"> {{id.name}} </option>
                        {% endfor %}
                    </select>    
                </div>

                <div class="col-md-2">
                    <label for="filterBank" class="text-info">Filter by Bank</label>
                    <select id="filterBank" class="form-control select2" data-toggle="select2" data-width="100%">
                        <option value="">All Banks</option>
                        {% for bank in bank_list %}
                        <option value="{{ id.id }}"> {{id.name}} </option>
                        {% endfor %}
                    </select>    
                </div>

                <div class="col-md-2">
                    <label for="filterStatus" class="text-info">Filter by Status</label>
                    <select id="filterStatus" class="form-control select2" data-toggle="select2" data-width="100%">
                        <option value="">All Statuses </option>
                        {% for status_value, status_label in status_list %}
                        <option value="{{ status_value }}"> {{status_label}} </option>
                        {% endfor %}
                    </select>    
                </div>
             </div> 
            </p>

                <!-- DataTable structure -->
                <table id="employeeTable" class="table table-hover dt-responsive nowrap w-100">
                    <thead>
                      <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Staff ID</th>
                          <th>Status</th>
                          <th>Age</th>
                          <th>Phone</th>
                          <th>Designation</th>
                          <th>Hire Date</th>
                          <th>Grade</th>
                          <th>Created on</th>
                          <th>Actions</th>
                      </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {

        $('[data-toggle="select2"]').select2()

       var table =  $('#employeeTable').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "{% url 'employee-list-api' %}",
                "type": "GET",
                "data":function(d){
                    d.status=$('#filterStatus').val(),
                    d.bank=$('#filterBank').val(),
                    d.designation=$('#filterDesignation').val(),
                    d.department=$('#filterDepartment').val(),
                    d.id=$('#filterID').val(),
                    d.grade=$('#filterGrade').val()
                }
            },
            "columns": [
                { 
                    "data": null, // Automatically calculate the row number
                    "orderable": false,
                    "searchable": false,
                    "render": function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                {"data":"first_name", "orderable":false, "render":function(data, type, row){
                    const {photoURL, staffURL, staffName } = data
                    return `<img src="${photoURL}"  alt="contact-img" title="contact-img" class="rounded-circle me-2 avatar-sm"> <a href="${staffURL}" class="text-body fw-semibold">${staffName}</a>`
                }},
                { "data": "employee_id" },
                {"data": "status", "render":function(data, type, row){
                    const { theme, status } = data
                    return `<span class='badge bg-${theme}'>${status}</span>`
                }},
                { "data": "dob", 'type':'num' }, 
                { "data": "phone_number" },
                { "data": "designation" },
                { "data": "hire_date" },
                { "data": "salary_grade" },
                { "data": "created_at" },
                { "data": 'id', "orderable": false, "render": function(data, type, row) {
                 const id = row.id

                 const updateURL = `{% url 'employee-update' 0 %}`.replace('0', id)
                 const documentUploadURL = `{% url 'employee-file-upload' 0 %}`.replace('0', id)
                 const photoUploadURL = `{% url 'employee-photo-upload' 0 %}`.replace('0', id)
                 const deleteURL = `{% url 'employee-delete' 0 %}`.replace('0', id)

                    return `<a href="${updateURL}" title="Edit employee "><button class="btn btn-xs btn-outline-warning rounded-pill waves-effect waves-light"><i class="fe-edit"></i></button></a>
                            <a href="${documentUploadURL}" title="Upload employee document"><button class="btn btn-xs btn-outline-primary rounded-pill waves-effect waves-light"><i class="fe-file-plus"></i></button></a>
                            <a href="${photoUploadURL}" title="Upload employee photo "><button class="btn btn-xs btn-outline-info rounded-pill waves-effect waves-light"><i class="fe-camera"></i></button></a>
                            <a href="${deleteURL}" title="Delete employee profile"><button class="btn btn-xs btn-outline-danger rounded-pill waves-effect waves-light"><i class="fe-trash-2"></i></button></a>`;                 
    
                }},
            ],
            "order": [[9, "desc"]]  // Default sorting by "created_at"
        });

        $('#filterStatus, #filterBank, #filterDepartment, #filterGrade, #filterID, #filterDesignation').on('change', function(){
            table.ajax.reload()

        })

    });
</script>
{% endblock %}
