{% load static %}
<header>
    <center><h3><strong> REVLO JV LTD </strong></h3> </center>
    <table width="100%">
       <tr>
          <td width="30%">
           <p><strong> <center>
             Address 1</strong>
           </center>
           </strong>
          </p>
         </td>


         <td width="40%">
        <center>
         <span> <img src="{% static 'logo/revlo.jpeg' %}" alt="Company Logo" height="100" width="100" /></span>
       </center>

         </td>

        <td width="30%" nowrap="nowrap">
         <span style="font:Normal 12px Tahoma" class="">
         TEL:  <strong> </strong>
      </span>
         </td>

       </tr>
    </table>
</header>

