{% extends 'core/base.html' %} 
{% load static %} 

{% block styles %}
<link href="{% static 'plugin/libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'plugin/libs/flatpickr/flatpickr.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/select2.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block scripts %}
<script src="{% static 'plugin/libs/select2/js/select2.min.js' %}"></script>
<script src="{% static 'plugin/libs/sweetalert2/sweetalert2.min2.js' %}"></script>
<script src="{% static 'plugin/libs/flatpickr/flatpickr.min.js' %}"></script>
{% endblock %}


{% block content %}
{% load widget_tweaks %}
<!-- {% load crispy_forms_tags %} -->

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <form action="" method="POST" id="save-form" novalidate>
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col-lg-12">
                            {{ form.union_name|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-lg-12">
                            {{ form.amount|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-lg-12">
                            {{ form.all_employee|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-lg-12">
                            {{ form.department|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-lg-12">
                            {{ form.applicable_to|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-lg-12">
                            {{ form.excluded_from|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-lg-12">
                            {{ form.deduction_start_date|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-lg-12">
                            {{ form.deduction_end_date|as_crispy_field }}
                        </div>
                    </div>
                    
                    <p class="mt-2">
                        <a href="{% url 'creditunion-list' %}">
                            <button type="button" class="btn btn-danger rounded-pill waves-effect waves-light m-1"><i class="fe-x me-1"></i> Cancel</button>               
                        </a>
                        <button type="submit" class="btn btn-success rounded-pill waves-effect waves-light m-1"><i class="fe-check-circle me-1"></i> Save Record</button>
                    </p>     

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascript %}
<script>
    $(document).ready(function(){
        $('.select, .selectmultiple').select2();
        $('.dateinput').flatpickr({ altInput: true, altFormat: "F j, Y", dateFormat: "Y-m-d" });
    })
</script>

{% endblock %}