<div class="app-menu">
  {% load static %}
  <!-- Brand Logo -->
  <div class="logo-box">
    <!-- Brand Logo Light -->
    <a href="{% url 'dashboard' %}" class="logo-light">
      <img src="{% static 'logo/revlo.jpeg' %}" alt="logo" class="logo-lg" />
      <img
        src="{% static 'logo/revlo.jpeg' %}"
        alt="small logo"
        class="logo-lg"
      />
    </a>

    <!-- Brand Logo Dark -->
    <a href="{% url 'dashboard' %}" class="logo-dark">
      <img
        src="{% static 'logo/revlo.jpeg' %}"
        alt="dark logo"
        class="logo-lg"
      />
      <img
        src="{% static 'logo/revlo.jpeg' %}"
        alt="small logo"
        class="logo-sm"
      />
    </a>
  </div>

  <!-- menu-left -->
  <div class="scrollbar">
    <!-- User box -->
    <div class="user-box text-center">
      <img
        src="assets/images/users/user-1.jpg"
        alt="user-img"
        title="Mat Helme"
        class="rounded-circle avatar-md"
      />
      <div class="dropdown">
        <a
          href="javascript: void(0);"
          class="dropdown-toggle h5 mb-1 d-block"
          data-bs-toggle="dropdown"
          >Geneva Kennedy</a
        >
        <div class="dropdown-menu user-pro-dropdown">
          <!-- item-->
          <a href="javascript:void(0);" class="dropdown-item notify-item">
            <i class="fe-user me-1"></i>
            <span>My Account</span>
          </a>

          <!-- item-->
          <a href="javascript:void(0);" class="dropdown-item notify-item">
            <i class="fe-settings me-1"></i>
            <span>Settings</span>
          </a>

          <!-- item-->
          <a href="javascript:void(0);" class="dropdown-item notify-item">
            <i class="fe-lock me-1"></i>
            <span>Lock Screen</span>
          </a>

          <!-- item-->
          <a href="javascript:void(0);" class="dropdown-item notify-item">
            <i class="fe-log-out me-1"></i>
            <span>Logout</span>
          </a>
        </div>
      </div>
      <p class="text-muted mb-0">Admin Head</p>
    </div>

    <!--- Menu -->
    <ul class="menu">
      {% comment %}
      <li class="menu-title">Navigation</li>
      {% endcomment %}

      <li class="menu-item">
        <a href="{% url 'dashboard' %}" class="menu-link">
          <span class="menu-icon"><i data-feather="airplay"></i></span>
          <span class="menu-text"> Dashboard </span>
        </a>
      </li> 

      <!-- Operations -->

      <li class="menu-item">
        <a href="forms-pickers.html#menuMaps" data-bs-toggle="collapse" class="menu-link">
            <span class="menu-icon"><i data-feather="map"></i></span>
            <span class="menu-text"> Operations </span>
            <span class="menu-arrow"></span>
        </a>
        <div class="collapse" id="menuMaps">
            <ul class="sub-menu">
                <li class="menu-item">
                    <a href="{% url 'meeting-list' %}" class="menu-link">
                        <span class="menu-text">Meetings</span>
                    </a>
                </li>

                <li class="menu-item">
                    <a class="menu-link">
                        <span class="menu-text">Business Documents</span>
                    </a>
                </li>

            </ul>
        </div>
    </li>

    <!-- HR Menus -->

      <li class="menu-item">
        <a
          href="ecommerce-dashboard.html#menuMultilevel"
          data-bs-toggle="collapse"
          class="menu-link"
        >
          <span class="menu-icon"><i data-feather="users"></i></span>
          <span class="menu-text"> HR </span>
          <span class="menu-arrow"></span>
        </a>
        
        <div class="collapse" id="menuMultilevel">
          <ul class="sub-menu">
            <li class="menu-item">
              <a
                href="ecommerce-dashboard.html#menuMultilevel2"
                data-bs-toggle="collapse"
                class="menu-link"
              >
                <span class="menu-text"> Employee </span>
                <span class="menu-arrow"></span>
              </a>
              <div class="collapse" id="menuMultilevel2">
                <ul class="sub-menu">
  
                  <li class="menu-item">
                    <a href="{% url 'employee-list' %}" class="menu-link">
                      <span class="menu-text">Employees</span>
                    </a>
                  </li>

                  <li class="menu-item">
                    <a href="{% url 'department-list' %}" class="menu-link">
                      <span class="menu-text">Departments</span>
                    </a>
                  </li>

                  <li class="menu-item">
                    <a href="{% url 'designation-list' %}" class="menu-link">
                      <span class="menu-text">Designations</span>
                    </a>
                  </li>

                  <li class="menu-item">
                    <a href="{% url 'job-list' %}" class="menu-link">
                      <span class="menu-text">Jobs</span>
                    </a>
                  </li>
                  
                  <li class="menu-item">
                    <a href="{% url 'job-history-list' %}" class="menu-link">
                      <span class="menu-text">Job Histories</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="menu-item">
              <a
                href="ecommerce-dashboard.html#menuMultilevel3"
                data-bs-toggle="collapse"
                class="menu-link"
              >
                <span class="menu-text">Payroll</span>
                <span class="menu-arrow"></span>
              </a>
              <div class="collapse" id="menuMultilevel3">
                <ul class="sub-menu">
                 
                  <li class="menu-item">
                    <a href="{% url 'bank-list' %}" class="menu-link">
                      <span class="menu-text">Banks</span>
                    </a>               
                  </li>

                  <li class="menu-item">
                    <a href="{% url 'salarygrade-list' %}" class="menu-link">
                      <span class="menu-text">Grades</span>
                    </a>               
                  </li>
                 
                  <li class="menu-item">
                    <a href="{% url 'setup-tax' %}" class="menu-link">
                      <span class="menu-text">Setup Tax</span>
                    </a>               
                  </li>

                  <li class="menu-item">
                    <a href="{% url 'salaryitem-list' %}" class="menu-link">
                      <span class="menu-text">Salary Items</span>
                    </a> 
                  </li>

                  <li class="menu-item">
                    <a href="{% url 'loan-list' %}" class="menu-link">
                      <span class="menu-text">Loans</span>
                    </a> 
                  </li>

                  <li class="menu-item">
                    <a href="{% url 'creditunion-list' %}" class="menu-link">
                      <span class="menu-text">Credit Unions</span>
                    </a> 
                  </li>

                  <li class="menu-item">
                    <a href="{% url 'payroll-list' %}" class="menu-link">
                      <span class="menu-text">Payrolls</span>
                    </a> 
                  </li>

                  <li class="menu-item">
                    <a href="{% url 'payroll-payslip' %}" class="menu-link">
                      <span class="menu-text">Payslips</span>
                    </a> 
                  </li>

                  <li class="menu-item">
                    <a href="{% url 'payroll-add' %}" class="menu-link">
                      <span class="menu-text">Process Payroll</span>
                    </a> 
                  </li>

                </ul>
              </div>
            </li>

            <li class="menu-item">
              <a
                href="ecommerce-dashboard.html#menuMultilevel4"
                data-bs-toggle="collapse"
                class="menu-link"
              >
                <span class="menu-text">Leave</span>
                <span class="menu-arrow"></span>
              </a>
              <div class="collapse" id="menuMultilevel4">
                <ul class="sub-menu">
                  <li class="menu-item">
                    <a href="{% url 'leave-type-list' %}" class="menu-link">
                      <span class="menu-text">Leave Types</span>
                    </a>               
                  </li>
                  <li class="menu-item">
                    <a href="{% url 'leave-balance-list' %}" class="menu-link">
                      <span class="menu-text">Leave Balances</span>
                    </a>               
                  </li>
                  <li class="menu-item">
                    <a href="{% url 'leave-request-list' %}" class="menu-link">
                      <span class="menu-text">Leave Requests</span>
                    </a>               
                  </li>
                  <li class="menu-item">
                    <a href="{% url 'holiday-list' %}" class="menu-link">
                      <span class="menu-text">Public Holidays</span>
                    </a>               
                  </li>
                </ul>
              </div>
            </li>

            <li class="menu-item">
              <a
                href="ecommerce-dashboard.html#menuMultilevel5"
                data-bs-toggle="collapse"
                class="menu-link"
              >
                <span class="menu-text">SMS</span>
                <span class="menu-arrow"></span>
              </a>
              <div class="collapse" id="menuMultilevel5">
                <ul class="sub-menu">

                  <li class="menu-item">
                    <a href="{% url 'sms-list' %}" class="menu-link">
                      <span class="menu-text">SMS Schedules</span>
                    </a>               
                  </li>
                </ul>
              </div>
            </li>

          </ul>
        </div>
      </li>

      <li class="menu-title">---------------</li>
      <li class="menu-item">
        <a href="{% url 'logout' %}" class="menu-link">
          <span class="menu-icon"><i data-feather="lock"></i></span>
          <span class="menu-text"> Logout </span>
        </a>
      </li>
    </ul>
    <!--- End Menu -->
    <div class="clearfix"></div>
  </div>
</div>
